/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-dark{
  --main-font-weight: 465;
  --bold-font-weight: 785;
  --bg-color: #000;
  --main-color: #00cc14;
  --gradient-grid-color: #000;
  --gradient-top-color: #007f0c;
  --gradient-bottom-color: #004306;
  --button-color: #00cc14;
  --spark-color: rgba(255, 0, 0);
}


:root.theme-light{
  --main-font-weight: 400;
  --bold-font-weight: 700;
  --bg-color: #f5f5f5;
  --main-color: #000;
  --gradient-grid-color: #d3d3d3;
  --gradient-top-color: #e7e7e7;
  --gradient-bottom-color: #1a1a1a;
  --button-color: #f5f5f5;
  --spark-color: rgba(255, 0, 0);
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-font-weight: 465;
    --bold-font-weight: 785;
    --bg-color: #000;
    --main-color: #00cc14;
    --gradient-grid-color: #000;
    --gradient-top-color: #007f0c;
    --gradient-bottom-color: #004306;
    --button-color: #00cc14;
    --spark-color: rgba(255, 0, 0);
  }
}
